body {
    background-color: white
}


.bloco{
    background-color: white;
    font-size: 40px;
    height: 300px;
    border-style: dashed;
    text-align: center;
    font-family: sans-serif;
    vertical-align: middle;
}

h5{
    font-size:16px;
    font-family: sans-serif;
}

h6{
    font-size:16px;
    font-family: sans-serif;
}

h4{
    font-size:22px;
    font-family: sans-serif;
}
